<div class="row">
  <div class="col-md-5 offset-md-3">
    <div class="card">
      <div class="card-body">
        <form action="#" method="post">
          <h1>RECUPERACIÓN DE CONTRASEÑA</h1>
          <div class="form-goup mb-2">
            <input class="form-control" type="email" name="email" placeholder="Email" required>
          </div>
          <button class="btn btn-primary mb-2" type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>