<div class="row">
  <div class="col-md-5 offset-md-3">
    <div class="card">
      <div class="card-body">
        <form action="/users/registro" method="post" id="registro_form">
          <h1>REGISTRO</h1>
          <h6>¿Ya estás registrado?</h6>
          <div class="form-goup mb-2">
            <input class="form-control" type="text" name="usuario" placeholder="Usuario" id="registro_usuario" required>
          </div>
          <div class="form-goup mb-2">
            <input class="form-control" type="email" name="email" placeholder="Email" id="registro_email" required>
          </div>
          <div class="form-goup mb-2">
            <input class="form-control" type="password" name="password" placeholder="Contraseña" id="registro_password"
              required>
          </div>
          <div class="form-goup mb-2">
            <input class="form-control" type="password" name="ver_pass" placeholder="Repetir Contraseña"
              id="registro_verif_password" required>
          </div>
          <div class="form-goup mb-2">
            <input type="checkbox" name="accept" id="registro_acepto">
            <label for="accept">Acepto los términos y condiciones, así como la politíca de privacidad</label>
          </div>
          <button class="btn btn-primary" type="submit" disabled="true" id="registro_boton">Enviar</button>
          <h6>{{message}}</h6>
        </form>
      </div>
    </div>
  </div>
</div>